body {
    min-width: 320px;
    max-width: 1920px;
   
}
div .block1 {
    display:inline-block;
    width:551px;
    height:804px;
    float:left;
    background-color:blue;
}
.block2 {
    display: inline-block;
    width: 551px;
    height: 804px;
    float: left;
    background-color: blue;
}
.block3 {
    display: inline-block;
    width: 551px;
    height: 804px;
    float: left;
    background-color: blue;
}
.block4 {
    display: inline-block;
    width: 551px;
    height: 804px;
    float: left;
    background-color: blue;
}
.block5 {
    display: inline-block;
    width: 551px;
    height: 804px;
    float: left;
    background-color: blue;
}
.block6 {
    display: inline-block;
    width: 551px;
    height: 804px;
    float: left;
    background-color: blue;
}