body {
    min-width: 320px;
    max-width: 1920px;
}
div {
    margin:0 0 0 0;
    padding: 0 0 0 0;
}
.NAME {
    display: inline-block;
    width: 22.92%;
    height: 22.92%;
    margin: 20.41% 11.46% 4.7% 15.77%;
    float: left;
    background-color: #b9b9b9
}

.EDUCATION {
    display: inline-block;
    width: 46.31%;
    height: 35.79%;
    margin: 4.33% 1.7% 3.53% 0;
    float: right;
    background-color: #b9b9b9;
}

.EXPERIENCE {
    display: inline-block;
    width: 52.59%;
    height: 29.30%;
    margin: 0 1.7% 2.96% 0;
    float: right;
    background-color: #b9b9b9;
}

.SOFTWARE {
    display: inline-block;
    width: 52.59%;
    height: 19.27%;
    margin: 0 1.7% 5.19% 0;
    float: right;
    background-color: #b9b9b9;
}

.PROFILE {
    display: inline-block;
    width: 34.39%;
    height: 18.27%;
    margin: 0 6.3% 2.9% 5.02%;
    float: left;
    background-color: #b9b9b9;
}

.CONTACT {
    display: inline-block;
    width: 34.39%;
    height: 16.31%;
    margin: 0 5.02% 2.96% 6.3%;
    float: left;
    background-color: #b9b9b9;
}
.SKILLS {
    display: inline-block;
    width: 34.05%;
    height: 21.49%;
    margin: 0 6.63% 5.49% 5.02%;
    float: left;
    background-color: #b9b9b9;
}
.name-text {
    font-size:40px;
}
.circle {
    position: absolute;
    top: 5.87%;
    left: 14.62%;
    width: 11.57vw;
    height: 11.57vw;
    border-radius: 11.57vw;
    border: 3px solid black;
    background-color: #006cb4;
}
.HEAD {
    text-transform: uppercase;
    color: #0270ba;
    font-size:2vw;
}
.star {
    position: absolute;
    top: 10%;
    left: 10%;
    background: red;
    width: 60%;
    height: 60%;
    clip-path: polygon(50% 0, 61.3% 34.9%, 100% 34.9%, 68.84% 56.9%, 80.43% 91.53%, 50% 70.54%, 19.57% 91.53%, 31.16% 56.9%, 0 34.9%, 38.7% 34.9%);
    z-index: 3;
}
.circlestar 
{
    position: absolute;
    top:20%;
    left:30%;
    width:7.66vw;
    height:7.66vw;
}

.star1 {
    position: relative;
    top:0%;
    left: 10%;
    width: 100%;
    height: 100%;
    border-radius: 11.57vw;
    border: 3px solid black;
    background-color: #006cb4;
    z-index:2;
}